<div>
  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="currentFilter"
    (change)="onFilterChange()"
  />
  <span> All ({{ completed + notCompleted }}) </span>
  <input
    type="radio"
    name="filter"
    value="true"
    [(ngModel)]="currentFilter"
    (change)="onFilterChange()"
  />
  <span>completed ({{ completed }}) </span>
  <input
    type="radio"
    name="filter"
    value="false"
    [(ngModel)]="currentFilter"
    (change)="onFilterChange()"
  />
  <span>Not completed ({{ notCompleted }})</span>
</div>
