<div class="overlay">
  <div class="popup">
    <h2>{{ editMode ? 'Edit Task' : 'Create a new Task' }}</h2>
    <a class="close" href="#" (click)="OnCloseForm()">&times;</a>
    <div class="content">
      <section class="container">
        <form action="#" class="form" #formRef="ngForm" (ngSubmit)="onSubmit()">
          <div class="input-box">
            <label>Title</label>
            <input type="text"  name="title" ngModel required/>
            <small *ngIf="formRef.controls['title']?.touched && formRef.controls['title'].invalid">
              required
            </small>
          </div>
          <div class="input-box">
            <label>Description</label>
            <textarea rows="8" name="description" ngModel></textarea>
          </div>
          <div class="input-box">
            <label>scheduled on</label>
            <input type="date" name="schedule" ngModel />
          </div>

          <div class="completion-status">
            <label>Completion Status :</label>
            <input type="checkbox" value="true" name="completed" ngModel>
          </div>

          <button type="submit" [disabled]="formRef.invalid">{{ editMode ? 'Edit Task' : 'Create Task'}} </button>
        </form>
      </section>
    </div>
  </div>
</div>