<app-create-task *ngIf="showCreateTaskForm" [editMode]="editMode" (CloseForm)="CloseCreateTaskForm()"
    (EmitTask)="createOrEditTask($event)" [editTask]="editTask"></app-create-task>

<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Todo List</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click)="OpenCreateTaskForm()">Create Task</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
        <ng-container *ngFor="let task of Tasks">
            <!-- <todo-task [task]="task" *ngIf="
                (currentFilter === 'all' ||
                  currentFilter === task.isCompleted.toString()) &&
                (searchText === '' ||
                  task.taskTitle.toLowerCase().includes(searchText.toLowerCase()))
              " /> -->
            <app-task [task]="task" (DeleteTaskEvent)="deleteTask($event)" (EditTaskEvent)="openEdit($event)" (CheckedEvent)="taskChecked($event)" />
        </ng-container>

    </div>
</div>