.dashboard-container {
  padding: 30px 100px;
  background-color: #dedede;
}

hr {
  border: #fff 1.5px solid;
  margin: 20px 0px;
}

.task-title {
  border-bottom: #28282b 2px solid;
}

.create-task-btn {
  padding: 12px 30px;
  background-color: #3498db;
  border: #cdcdcd 1px solid;
  color: white;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
